<div id="CevapSuresi" data-timer="21" style="width: 75px; height: 75px; margin-right: auto; margin-left:auto"></div>

<script type="text/javascript">
//$("#CevapSuresi").data('timer', '36');

</script>