<div id="OyunSuresi" data-timer="21" style="width: 250px; height: 250px; margin-right: auto; margin-left:auto"></div>

<script type="text/javascript">
//$("#CountDownTimer").data('timer', '20');
$("#OyunSuresi").TimeCircles({ time: { Days: { show: false }, Hours: { show: false }, Minutes: { show: false } }});
</script>