<div id="TimeCircles" style="display: none;">
    <div id="CountDownTimer" data-timer="21" style="margin-right: auto; margin-left:auto"></div>
</div>

<script type="text/javascript">
//$("#CountDownTimer").data('timer', '20');

</script>