.text-bold{ font-weight: bold;}
#TimeCircles > #CountDownTimer {
    width: 200px;
    height: 200px;
}
.padRL15{padding-right:15%;padding-left:15%;}
p{font-size: 16px;}
@media (max-width: 767px) {
    div.blockUI{
        width: 90%;
        left: 5%;
    }
    #TimeCircles > #CountDownTimer {
        width: 150px;
        height: 150px;
    }
}